name: "tss2-fapi-rs-swtpm"

services:
  swtpm:
    build:
      context: ./
      dockerfile: swtpm.Dockerfile
      args:
        BASE_VERSION: ${BASE_VERSION_SWTPM:-r21@sha256:826db0432349c2b99e1a0c6c93d7d0c1ccced5f5cc03ae84bb41740f267b1bb2}
    volumes:
      - log:/var/log/swtpm:rw
    tmpfs:
      - /var/lib/swtpm
      - /var/lib/swtpm-localca
    ports:
      - "2321:2321"
      - "2322:2322"
    restart: unless-stopped
    stop_signal: SIGKILL

volumes:
  log:
